header {
  text-align: center;
  height: 45px;
  background-image: url("https://media3.giphy.com/media/3o7aCVf7ldz3tJkOPe/200.gif");
  margin-bottom: 1rem;
  height: auto;
  padding-bottom: 10px;
  margin-bottom: 10px;
  animation: spin 5000s linear infinite;
}

header ul, header li {
  margin: 0;
  display: inline-block;
  list-style: none;
  padding: 5px 20px;
}
p{
  color: aliceblue;
}

header h1 {
  margin: 0;
}

main {
  width: 90%;
  margin: auto;
  /* animation: spin 20s linear infinite; */
}

section {
  margin-bottom: 1rem;
  padding: 1rem;
  /* animation: spin 20s linear infinite; */
}

form.add-book-form button[type=submit] {
  display: block;
  /* animation: spin 20s linear infinite; */
}
body{
  background-image: url("https://media4.giphy.com/media/ylyUQlf4VUVF9odXKU/200.gif") ;
  /* animation: spin 1s linear infinite; */
}

section {
  background-color: white;
  animation: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
section:hover{
  background-color: rgb(245, 6, 253);
  animation: grayAnimation 0.3s linear infinite;
}
section:active{
  background-color: black;
  color:white;
  animation: spin 20s linear infinite;
}
@keyframes grayAnimation{
		100%,0%{
			color: white;
		}
		50%{
			color: gray;
		}
  }
  
  @keyframes spin {
    from {
        transform:rotate(0deg); 
    }
    to {
        transform:rotate(360deg);
    }

}